
<div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
               Create Contact Inforamtion

               {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}
                          </header>
                          <div class="panel-body">
                              <form role="form" action="/contact/create" method="post">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Name </label>
                                      <input class="form-control" id="exampleInputEmail1" name="name" placeholder="enter name here"  type="text">
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">Email</label>
                                      <input class="form-control" id="exampleInputPassword1" name="email" placeholder="type email here" type="text">
                                  </div>

                                <div class="form-group">
                                      <label for="exampleInputPassword1">Subject</label>
                                      <input class="form-control" id="exampleInputPassword1" name="subject" placeholder="type subject"  type="text">
                                  </div>
                                   <div class="form-group">
                                      <label for="exampleInputPassword1">Message</label>
                                      <textarea class="form-control" rows="5" id="" name="message"></textarea>
                                  </div>
                                 
                                  <br>

                                  <button type="submit" class="btn btn-info">Submit</button>
                              </form>

                          </div>
                      </section>
                  </div>