    <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a href="index-2.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                 <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Slider</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>


                <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Service</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>


                   <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Team Member</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>

                    <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Page Section </span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>


                   <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Online Booking</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>

                   <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Contact List</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Create</a></li>
                          <li><a  href="boxed_page.html">List</a></li>
                      </ul>
                  </li>



                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-laptop"></i>
                          <span>Setting</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Salon Basic Setting</a></li>
                      </ul>
                  </li>

      
                  <!--multi level menu end-->

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>